src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:loggly="http://www.mulesoft.org/schema/mule/loggly"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/loggly http://www.mulesoft.org/schema/mule/loggly/current/mule-loggly.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd"
      >

    <loggly:config inputKey="${inputKey}" />
    <loggly:config-retrieve subdomain="${subdomain}" username="${username}" password="${password}" />

    <flow name="testFlow">
        <loggly:logger message="This a test."/>
        <loggly:logger message="This a second test."/>
        <loggly:logger message="This a third test."/>
        <loggly:logger message="This a 4 test."/>
    </flow>

    <flow name="testRetrieveFlow">
        <loggly:search query="test"/>
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testFacetFlow">
        <loggly:facet query="hello" facetType="DATE" />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testInputFlow">
        <loggly:input id="26846" />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testInputByNameFlow">
        <loggly:input-by-name inputName="default" />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testInputsFlow">
        <loggly:inputs />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testCreateInputFlow">
        <loggly:create-input inputName="anotherInput" description="Meaningful description goes here." service="HTTP" />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testAddCurrentDeviceFlow">
        <loggly:add-current-device id="26846" />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testAddCurrentDeviceSyslog514Flow">
        <loggly:add-current-device-to-syslog514 id="26846" />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testRemoveDeviceFlow">
        <loggly:remove-device id="26846" />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testEnableDiscoveryFlow">
        <loggly:enable-input-discovery id="26846" />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testDisableDiscoveryFlow">
        <loggly:disable-input-discovery id="26846" />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testDevicesFlow">
        <loggly:devices />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testDeviceFlow">
        <loggly:device id="26846" />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testAddDeviceFlow">
        <loggly:add-device id="26846" ip="0.0.0.0" deviceName="deviceName" />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testDeleteDeviceFlow">
        <loggly:delete-device id="26846" />
        <logger message="#[payload]" level="ERROR"/>
    </flow>

    <flow name="testDeleteDeviceByIpFlow">
        <loggly:delete-device-by-ip ip="0.0.0.0" />
        <logger message="#[payload]" level="ERROR"/>
    </flow>


    <flow name="mockAPI">
        <http:inbound-endpoint address="http://localhost:8000" exchange-pattern="request-response"/>
        <jersey:resources>
            <component class="org.mule.modules.loggly.test.APIMock"/>
        </jersey:resources>
    </flow>

</mule>
